/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  max-width: 100%;
  margin: 0em;
  padding: 0em;
}

button:not(:disabled), summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
}

/* jouw code */
li {
	list-style: none;
}

/*section 1*/

h1 {
	font-size: max(2.5vw, 1.6em);
	padding-bottom: 1em;
	text-align: center;
}
li:nth-of-type(1) img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 6em;
}

li:nth-of-type(2) img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	max-width: 30em;

	padding: 1em 1em;
}

/*section 1, grid*/
main{
	display:grid;
	
	grid-template-columns: repeat(auto-fit, minmax(min(32em, 100%), 1fr) );
	column-gap: 1em;
	
	padding: 1.5em 1.5em;
}


/*section 2*/

/*grid styling*/

h2:nth-of-type(1){
	margin-bottom: .2em;
}
/*h2 en kleuren onder elkaar zetten*/
section:nth-of-type(2) li:nth-of-type(2){
	display: flex;
}

/*kleuren sectie*/
input {
	width: 0;
}

section:nth-of-type(2) ul:nth-of-type(1)
input:nth-of-type(1) + label {
	display: block;
	background: red;
	width: 2em;
	height: 2em;
	margin-right: 1em;

}
section:nth-of-type(2) ul:nth-of-type(1)
input:nth-of-type(2) + label {
	display: block;

	background: blue;
	width: 2em;
	height: 2em;
	margin-right: 1em;

}
section:nth-of-type(2) ul:nth-of-type(1)
input:nth-of-type(3) + label {
	display: block;

	background: green;
	width: 2em;
	height: 2em;
}
input:checked + label {
	border: 3px solid black;
}

/*print sectie*/
section:nth-of-type(2) ul:nth-of-type(2)
input:nth-of-type(1) + label{
	display: block;
	background: rgb(95, 81, 81);
	width: 2em;
	height: 2em;
	margin-right: 1em;

}

section:nth-of-type(2) ul:nth-of-type(2)
input:nth-of-type(2) + label {
	display: block;

	background: rgb(150, 23, 150);
	width: 2em;
	height: 2em;
	margin-right: 1em;

}
section:nth-of-type(2) ul:nth-of-type(2)
input:nth-of-type(3) + label {
	display: block;

	background: rgb(23, 150, 110);
	width: 2em;
	height: 2em;
	margin-right: 1em;
}
/*input:checked + label {
	border: 3px solid black;
}*/


/*tekst sectie*/

input:last-of-type{
	padding: 1em 12em 1em 1em;

}

/*knop sectie*/
button {
	padding: 1em 2em;
}
